<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <title>This should also be replaced</title>
</head>
<body>
  <div class="bs-docs-header">
    <div class="container">
      <h1>Getting started</h1>
      <p>This is the layout page.</p>
    </div>
  </div>
  <div class="container">
    <div id="header">
      This is the top of the page.
    </div>
    <div id="content">
      This will be replaced.
    </div>
    <div id="footer">
      THIS is the bottom of the page.
    </div>
  </div>

</body>
</html>
